.grid-container {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 0.5rem;
  /* Optional: Style for better visualization */
  border: 1px solid #333;
  padding: 1rem;
  margin-bottom: 0.5rem;
  // cell
  & > * {
    margin: 0.2rem;
    padding: 1rem;
    /* Optional: Style for better visualization */
    border: 1px solid #888;
  }
}
