@import "/src/styles/variables.scss";
@import "/src/styles/colors.scss";

$grid-padding: 0.3rem;
.grid {
  border-radius: calc($border-radius + $grid-padding);
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: $grid-padding;
  border: 1px solid $primary-blue;
  padding: $grid-padding;
  margin-bottom: 0.5rem;
  transition: background-color 0.5s ease;
}

.focused {
  background-color: $secondary-blue;
  border-color: $primary-blue;

  :global(.focusable) {
    border-color: $primary-blue;

    :global(.ant-select-selector),
    :global(.ant-picker),
    textarea,
    input {
      border-color: $primary-blue;
    }
  }
}

.readonly {
  border-color: #333;
}
