@import "/src/styles/common.scss";
@import "/src/styles/colors.scss";

.label {
  background-color: white;
  @include border();
  border-color: $primary-blue;
  padding: 0.2rem;
  height: 100%;
  line-height: 24px;
  max-height: max-content;
}

.input {
  margin: 0;

  :global(.ant-picker),
  :global(.ant-select-selector),
  textarea,
  input {
    @include border();
    border-color: $primary-blue;
  }

  .ant-col {
    max-width: 100% !important;
  }
}

.readonly {
  border-color: #333;
  input {
    border-color: #333;
  }
}

.border {
  margin: 0;
  @include border();
}
