@import "../../../styles/common.scss";
.label {
  background-color: white;
  @include border();
  padding: 0.2rem;
  height: 100%;
  line-height: 24px;
  max-height: max-content;
}

.input {
  margin: 0;

  :global(.ant-select-selector),
  textarea,
  input {
    @include border();
  }

  .ant-col {
    max-width: 100% !important;
  }
}

.border {
  margin: 0;
  @include border();
}
